:root {
  --body-bg: #CCCCCC;
  --main-bg: #FFFFFF;
  --box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.05);
  --txt-color: #0F0F0F;
  --upload-bg: #F8F8FF;
  --upload-brd: 1px dashed rgba(56, 78, 183, 0.3);
  --txt-limit-color: #676767;
  --txt-limit-active-color: #ff0000;
  --selected-files-brd: 1px solid #E3E3E3;
  --txt-persent-color: #008000;
  --delete-bg: #E6E6E6;
  --input-subnit-bg: #483EA8;

}

body{
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--body-bg);
  padding: 0 5%;
}

.main-block {
  max-width: 540px;
  width: 100%;
  background: var(--main-bg);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  text-align: center;
  padding: 2.32% 4%;
}

h1 {
  font-size: 1.37rem;
  font-weight: 700;
  color: var(--text-color);
  margin: 0;
}
